---
import Layout from '@/layouts/Layout.astro';
import Perspectivas from '@/sections/Perspectivas.astro'
import Jumbotron from '@/sections/Jumbotron.astro'
---

<Layout>
  <Jumbotron />
  <a href="/css/">Css</a>
  <a href="/html/">HTML</a>
  <Perspectivas/>
</Layout>