---
---
<section class="container-tilt">
  <div class="card-container-tilt">
    <div class="data-tilt-card">
      <div class="nav-browser"><span class="c-rojo"></span><span class="c-amarillo"></span><span class="c-verde"></span> </div>
      <pre><span class="pre-func">function</span> HolaMundo() <span class="pre-select">{'{'}</span>
  alert('Hola Mundo');
<span class="pre-select">{'}'}</span></pre>
    </div>
  </div>
</section>

<style>
  .container-tilt{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    background-color: #0003;
  }

  .card-container-tilt{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color: var(--color-azul);
    color: var(--color-texto);
    border-radius: 1rem;
    transform: rotatey(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .data-tilt-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 0.5rem;
    overflow: hidden;
    transform: translateZ(100px);

    & > .nav-browser {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 0.2rem;
      height: 1rem;
      padding: 0.8rem 1rem;
      background-color: var(--color-verde-azulado);
      filter: contrast(150%);
      
      & > .c-rojo, .c-amarillo, .c-verde {
        border-radius: 100%;
        height: 10px;
        width: 10px;
      }

      & > .c-rojo { background-color: red; }
      & > .c-amarillo { background-color: rgb(255, 200, 0); }
      & > .c-verde {  background-color: rgb(57, 199, 14); }
    }

    & > pre {
      width: 100%;
      margin: 0;
      padding: 1rem;

      & > .pre-func {
        color: #ff0059;
      }

      & > .pre-select{
        color: #ffa109;
      }
    }
  }
</style>

