---
import brand from "@/assets/images/perro.webp"
import GitIcon from "@/assets/icons//github.svg"
---
<aside>
  <header>
    <h1 class="sr-only">El taller by Outzider</h1>
    <a href="http://github.com/tailwindlabs" target="_blank" rel="noopener noreferrer">
      <div class="layoutFrontal">
        <img src={brand.src} alt="" aria-label="imagen de branding">
      </div>
      <div class="layoutTrasero"> 
        <GitIcon />
      </div>
    </a>
  </header>

  <nav>
    <a href="">Perspectiva </a>
    <a href="">Grandientes </a>
    <a href="">Degradados</a>
    <a href="">Bordes</a>
    <a href="">Máscara</a>
    <a href="">Filtros</a>

  </nav>
</aside>

<style>
  aside {
    width: 20%;
    background-color: cyan;
    min-height: 100dvh;
  }

  header {
    width: 100%;

    & > a {
      width: 80%;
      display: flex;
      margin: auto;
      transform-style: preserve-3d;
      perspective: 100px;

      & > .layoutFrontal {

        & > img {
          width: 100%;
          border-radius: 100%;
        }
      }

      & > .layoutTrasero {
        & > svg {
          width: 100%;

        }
      }

      & > button {
        background-color: red;
      }
      
    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;

    & > a {
      width: 100%;
      text-decoration: none;
      background-color: var(--color-azul-oscuro);
      color: var(--color-texto);
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
    }
  }
</style>