---
import brand from "@/assets/images/perro.webp"
import GitIcon from "@/assets/icons/github.svg"
import FileIcon from "@/assets/icons/file.svg"
import HomeIcon from "@/assets/icons/home.svg"
---
<aside>
  <header>
    <h1 class="sr-only">El taller by Outzider</h1>
    <a class="layoutBranding" href=""  rel="noopener noreferrer">
      <div class="layoutFront">
        <img src={brand.src} alt="">
      </div>
      <div class="layoutBack">
        <GitIcon />
      </div>
    </a>
  </header>

  <nav>
    <a href="" class="active"> <HomeIcon /> Inicio</a>
    <a href=""> <FileIcon /> Perspectiva </a>
    <a href="" class="active"> <FileIcon /> Grandientes </a>
    <a href=""> <FileIcon /> Degradados</a>
    <a href=""> <FileIcon /> Bordes</a>
    <a href="" class="active"> <FileIcon /> Máscara</a>
    <a href="" class="active"> <FileIcon /> Filtros</a>
  </nav>
  
</aside>

<style>
  aside {
    width: 20%;
    background-color: var(--color-azul-oscuro);
    min-height: 100dvh;
  }

  header {
    margin-block: 1rem;
    perspective: 1200px;
    position: relative;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .layoutBranding {
      display: block;
      width: 100%;
      animation: rotatecard 3s infinite linear;
      cursor: pointer;
      transform-style: preserve-3d;

      & > .layoutFront, & > .layoutBack {
        display: flex;
        justify-content: center;
        align-items: center;
       
        backface-visibility: hidden;

        & > img, & > svg {
          width: 70%;
          border-radius: 100%;
          position: absolute;
        }
      }

      & > .layoutBack {
         transform: rotateY(180deg);
      }

    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    padding: 0.3rem;

    & > a {
      width: 100%;
      text-decoration: none;
      background-color: var(--color-azul-oscuro);
      color: var(--color-texto-sombra);
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      gap: 1.3rem;
      border-left: 0.5rem solid var(--color-azul-oscuro);
      transition: all 0.3s ease;

      &:hover {
        border-left: 0.5rem solid var(--color-azul-fondo);
        background-color: var(--color-azul-fondo);
        color: var(--color-texto);
      }
    }

    & > .active {
      color: var(--color-texto);
      background-color: var(--color-azul);
      border-left: 0.5rem solid var(--color-celeste);
    }
  }

  @keyframes rotatecard {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
</style>