<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Practicas Vainilla</title>
	</head>
	<body>
    <main>
      <slot />
    </main>
	</body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
  }

  :root{
    --color-azul-oscuro: #000f3f;
    --color-azul: #014494;
    --color-azul-claro: #61eaff;
    --color-celeste: #01a8e2;
    --color-verde-azulado: #03787f;
    --color-texto: #ffe9e0;
  }

	html,
	body {
		width: 100%;
		height: 100%;
    background: var(--color-azul-oscuro);
    color: var(--texto);
	}
</style>
