---
import NavSidebar from "@/sections/NavSidebar.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Practicas Vainilla</title>
	</head>
	<body>
    <NavSidebar />
    <main>
      <slot />
    </main>
	</body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
  }

  :root{
    --color-azul-oscuro: #000f3f;
    --color-azul: #014494;
    --color-azul-claro: #61eaff;
    --color-celeste: #01a8e2;
    --color-verde-azulado: #03787f;
    --color-texto: #ffe9e0;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-celeste) var(--color-azul-oscuro);
  }

	body {
		width: 100%;
    background: var(--color-azul-oscuro);
    color: var(--texto);
    display: flex;
	}

  main{
    flex: 1;
  }

  /* Clases de Utilidades */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
</style>
