---
const title = Astro.props.title || "El taller de OutziderDev";
import Navbar from '@/sections/Navbar.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>El Taller de OutziderDev</title>
	</head>
	<body>
    <Navbar />
    <main>
      <slot />
    </main>
	</body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    /* Colores */
    --color-fondo: #131317;
    --color-fondo-claro: #212433;
    --color-fondo-muted: #1a1b25; 
    --color-principal: #3cecd6;
    --texto-muted: #a7acd1;
    --color-naranja: #fb8f51;

    
    /* Fuentes */
    --texto-titulo-general: 'Overlock', italic;
    --texto-titulo-emergente: 'Mada Variable', sans-serif;
    --texto-basico: 'Maitree', serif;

    /* colores para opciones */
    /*--color-verdoso-mod: #5adad1;
    --color-darkblue: #0a0f1e;
    --color-light-darkblue: #101828;
    --color-decorador: #192238; */
  }
  @font-face {
    font-family: 'Maitree';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maitree@latest/latin-400-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

  /* overlock-latin-400-italic */
  @font-face {
    font-family: 'Overlock';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/overlock@latest/latin-400-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

  /* mada-latin-wght-normal */
  @font-face {
    font-family: 'Mada Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 200 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/mada:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-celeste) var(--color-azul-oscuro);
  }

	body {
		width: 100%;
    background: var(--color-fondo);
    color: var(--texto);
    display: flex;
	}
  .color1 {
    background-color: var(--color-verdoso-mod);
    width: 200px;
    height: 200px;
  }
  .color2 {
    background-color: var(--expres);
    width: 200px;
    height: 200px;
  }
  .color3 {
    background-color: var(--color-feo);
    width: 200px;
    height: 200px;
  }

  main {
    flex: 1;
  }

  /* Clases de Utilidades */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
</style>
