---
import NavSidebar from "@/sections/NavSidebar.astro";
const title = Astro.props.title || "El taller de OutziderDev";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
    <NavSidebar />
    <main>
      <slot />
    </main>
	</body>
</html>

<style>
  :root{
    /* Colores */
    --color-fondo: #131317;
    --color-fondo-claro: #212433;
    --color-fondo-muted: #1a1b25; 
    --color-principal: #3cecd6;
    --texto-muted: #a7acd1;
    --color-naranja: #fb8f51;
    
    /* Fuentes */
    --texto-prueba: 'Sintony', system-ui, sans-serif;

    /* colores para opciones */
    /*--color-verdoso-mod: #5adad1;
    --color-darkblue: #0a0f1e;
    --color-light-darkblue: #101828;
    --color-decorador: #192238; */
  }

  body{
    width: 80%;
    min-height: 100dvh;
    background-color: var(--color-fondo);
    padding: 2rem;
  }
</style>